[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rinohtype = "*"
sphinx = "*"
sphinx-rtd-theme = "==1.3.0rc1"
sphinxcontrib-bibtex = "*"
sphinxcontrib-disqus = "*"
jsonpath-ng = "*"
sphinx-ext-substitution = {ref = "0.1.2", git = "https://github.com/NordicHPC/sphinx_ext_substitution.git"}

[dev-packages]

[requires]
python_version = "3.10"
