[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alabaster = "==0.7.12"
certifi = "==2018.4.16"
chardet = "==3.0.4"
docutils = "==0.16"
idna = "==2.10"
imagesize = "==1.2.0"
kiwisolver = "==1.0.1"
latexcodec = "==1.0.5"
MarkupSafe = "==1.1.1"
oset = "==0.1.3"
pdflatex = "==0.1.3"
pybtex = "==0.21"
pybtex-docutils = "==0.2.1"
pyparsing = "==2.4.7"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
Pygments = "==2.7.1"
PyYAML = "==5.1"
requests = "==2.24.0"
six = "==1.11.0"
snowballstemmer = "==1.2.1"
Sphinx = "==1.8.1"
sphinx-intl = "==2.0.1"
sphinx-rtd-theme = "==0.4.0"
sphinxcontrib-bibtex = "==0.4.2"
sphinxcontrib-websupport = "==1.1.0"
sphinx_rtd_theme = "==0.4.0"
sphinxcontrib-disqus = {git = "https://github.com/rmk135/sphinxcontrib-disqus"}
"urllib3" = "==1.24.2"
Babel = "==2.6.0"
Cycler = "==0.10.0"
"Jinja2" = "==2.10.1"

[dev-packages]

[requires]
python_version = "3.8"
