[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "==1.3.0rc1"
sphinxcontrib-bibtex = "*"
sphinxcontrib-disqus = "*"
jsonpath-ng = "*"
sphinx-ext-substitution = {ref = "support_recursive_dicts", git = "https://github.com/eak24/sphinx_ext_substitution.git"}

[dev-packages]

[requires]
python_version = "3.10"
