[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "==1.3.0rc1"
sphinxcontrib-bibtex = "*"
sphinxcontrib-disqus = "*"
jsonpath-ng = "*"
sphinx-ext-substitution = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.10"
